body {
    
    font-family: "Bebas Neue", cursive, Arial, Helvetica, sans-serif;
}

#about, #portfolio {
    padding-top: 5rem;
}

#masthead {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#masthead::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

.masthead-caption {
    position: relative;
    z-index: 20;
    text-align: center;
    color: rgb(255, 255, 255);
}

#masthead-name {
    color: #E85B77;
    padding: 5px;
    background: #2529343c;
    border: 2.5px solid #fff;
    border-radius: 4rem;
    /* border: .1em solid#F5DFBB;
    text-decoration: underline white;
    color: #F5DFBB;
    border: .1em solid #E85B77; 

    Insert this after the presentation
    
    */
}

#view-my-work {
    color: #fff;
    padding: 15px;
    border: 3px solid #fff;
    text-decoration: none;
    letter-spacing: 0.1rem;
}

#view-my-work:hover {
    color: #f9fbfe;
    background: #e85b776d;
    padding: 15px;
    border: 3px solid #e85b77;
    text-decoration: none;
}

/* Start of Navbar */
.navbar-toggler-icon {
    padding-top: 3px;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
}
.navbar-toggler-icon:hover {
    color: #fff;
    background-color: #E85B77;
}
.navbar {  
    background-color: black;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #fcb418;
}
/* End of Navbar */

/* About Section */
.about-text, .contact-content {
    text-align: center;
    text-decoration: #252934;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.about img {
    width: 25rem;
    background: #E85B77;
}

.about-skills {
    text-align: center;
    text-transform: capitalize;
}

.about-czar-pic {
    box-shadow: -15px 10px 100px rgb(201, 126, 126);    
    border-radius: 4rem;
}

.skills-content {
    padding: 30px;
    margin: 4rem 3rem;
    background: #f9fbfe;
    border-radius: 4rem;
    box-shadow: -5px 10px 90px rgb(201, 126, 126);   
}

#touch-typist {
    color: black;
    text-decoration: none;
}

#touch-typist:hover {
    color: #E85B77;
}
/* End of About Section */

/* Start of Project Section */
.portfolio {
    padding-bottom: 5rem;
    background: #f5f5f5;
    position: relative;
    overflow: auto;
}

#portfolio-text {
    text-align: center;
    padding: 3rem 0;
}

#balon-bayambang a, #this-website-card a {
    color: black;
    text-decoration: none;
}

#balon-bayambang a:hover, #this-website-card a:hover {
    color: #E85B77;
    box-shadow: -5px 10px 90px rgb(40, 208, 202);

}

/* Contact */
#contact {
    background-color: #252934; 
}

#send-message:hover {
    background: #fb6a24;
    color: white;
}
/* End of Contact */

/* Start of Footer */
footer {
    color: white;
    background-color: black;

}

#ten-fast-fingers a, #ten-fastfingers a:hover,
#bitcoin a, #bitcoin a:hover {
    font-size: 25px; 
    padding:6px 12px; 
    border: 2px solid white; 
    border-radius: 4px; 
    text-decoration: none; 
    color: white; 
    margin-right: 8px
}

#gitlab a, #gitlab a:hover,
#github a, #github a:hover,
#ethereum a, #ethereum a:hover,
#linkedin a, #linkedin a:hover,
#fiverr a, #fiverr a:hover,
#paypal a, #paypal a:hover
 {
    font-size: 25px; 
    padding:6px 13px; 
    border: 2px solid white; 
    border-radius: 4px; 
    text-decoration: none; 
    color: white; 
    margin-right: 8px
}

/* color pallete of the websites */
#ten-fast-fingers a:hover {
    background: #fcb418;
}

#gitlab a:hover {
    background: #fb6a24;
}

#github a:hover {
    background: #6e5494;
}

#bitcoin a:hover {
    background: #f7931a;
}

#ethereum a:hover {
    background: #606cc4;
}
    
#linkedin a:hover {
    background: #1064c4;
}

#fiverr a:hover {
    background: #08b42c;
}

#paypal a:hover {
    background: #182c8c;
}
/* End of Footer */
